.container {
  max-width: 1222px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  color: black;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
  display: flex;
  text-align: center;
  font-family: shabnam;
  margin-top: 1.7rem;
  align-items: center;
}

.title p {
  color: #114639;
  font-size: 36px;
}

.title span {
  color: gray;
}

.link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 9px;
}

.products {
  padding: 20px 0;
}

/* استایل‌های Swiper */
.swiper {
  width: 100%;
  padding-bottom: 40px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

/* استایل‌های ناوبری Swiper */
.swiper-button-next,
.swiper-button-prev {
  color: #114639;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  transition: background 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: rgba(255, 255, 255, 1);
}

.swiper-pagination-bullet {
  background: #114639;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

/* تنظیمات ریسپانسیو */
@media (max-width: 767px) {
  .title p,
  .Silber {
    font-size: 24px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none; /* مخفی کردن دکمه‌های ناوبری در موبایل */
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .title p {
    font-size: 30px;
  }
}
